 <a href="/movies" class="btn-floating btn-large waves-effect waves-light lime accent-3"><i class="material-icons">add</i></a>

 <h1 class="center-align">Your Favs List:</h1>
<div class="row">
  <div class="col s3">
    <div class="card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src=<%= @movies.image_url %>>
      <i class="activator material-icons right">more_vert</i>
      </div>
      <div class="card-reveal">
        <%= render 'card_nav' %>
        <div class="card-title grey-text text-darken-4">
          <%= @movies.title %>
          </div>
        <ul>
          <li>Year: <%= @movies.year %></li>
          <li>Genre: <%= @movies.genre %></li>
          <li>Synopsis: <%= @movies.synopsis %></li>
        </ul>
      </div>
    </div>
  </div>
</div>





