 <div class="center-align row">
  <h4 class="center-align">Update: <%= @movie.title %></h4>
  <img class="center-align" src=<%= @movie.image_url %>>
 </div>
 <%= form_for @movie do |f| %>
  <div class="row">
    <div class="input-field col s6">
      <input value="<%= @movie.title %>" placeholder="title" id="title" type="text" class="validate" name="movie[title]">
    </div>
    <div class="input-field col s6">
      <input value="<%= @movie.genre %>" placeholder="genre" id="genre" type="text" class="validate" name="movie[genre]">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input value="<%= @movie.year %>" placeholder="year" id="year" type="text" class="validate" name="movie[year]">
    </div>
    <div class="input-field col s6">
      <input value="<%= @movie.image_url %>" placeholder="Image URL" id="image" type="text" class="validate" name="movie[image_url]">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea placeholder="Synopsis" id="synopsis" class="materialize-textarea validate" length="120" name="movie[synopsis]"><%= @movie.synopsis %></textarea>
    </div>
  </div>
  <button id="new-movie" class="btn-large waves-effect waves-light purple darken-2" type="submit" name="action">Submit
  <i class="material-icons right">send</i></button>
<% end %>

