<h1 class="center-align">Your Favs List:</h1>
<div class="row">
  <% @movies.each do |movie| %>
    <div class="col s4">
      <div class="card medium">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src=<%= movie.image_url %>>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= movie.title %><i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <div class="fixed-action-btn vertical click-to-toggle" style="bottom: 30px; right: 15px;">
            <a class="btn-floating btn-small lime accent-3">
              <i class="small mdi-navigation-menu"></i>
            </a>
            <ul>
              <li><a class="card-title btn-floating lime accent-3"><i class="material-icons">close</i></a></li>
              <li><%= link_to '<i class="material-icons">delete</i> Do it@'.html_safe, user_destroy_movie_path(movie), method: :delete, data: {confirm: "Are you sure you want to delete this movie?"}, class: "btn-floating btn-small lime accent-3" %></li>
              <li><%= link_to '<i class="material-icons">info</i> Do it@'.html_safe, edit_movie_path(movie), class: "btn-floating btn-small lime accent-3" %></li>
            </ul>
          </div>
          <div class="card-title grey-text text-darken-4"><%= movie.title %></div>
          <ul>
            <li>Year: <%= movie.year %></li>
            <li>Genre: <%= movie.genre %></li>
            <li>Synopsis: <%= movie.synopsis %></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>

